@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.42em;
	color: #a7a1ae;
	background-color: #1f2739;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
	color: #4dc3fa;
}
