.pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        color: #fff;
        float: left;
        font-family: inherit;
        padding: 0.5em 1em;
        text-decoration: none;
        border: 1px solid #2c3446;
        cursor: pointer;
    }
    div.active {
        background-color: #185875;
        color: white;
        border: 1px solid #185875;
    }
    div:hover:not(.active) {
        background-color: #323c50;
    }
    div:first-child {
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
    }
    div:last-child {
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }

    @media screen and (max-width: 800px) {
        div {
            padding: 1% 2%;
        }
    }
}
